/* highlight via border */
.bomHighlightBorder {
  /*text-shadow: 2px -2px 3px #FF0000;*/
  border-color: #FF0000;
  border-width: 2px;
}

/*region ebay css */
.tmpnl{
  position:relative;
  margin-bottom:0
}
.tmpnl .sprtr{
  padding:0 7px
}
.tmpnl .msgPad{
  padding:10px 15px
}
.tmpnl .btnPad{
  padding-top:5px;
  padding-bottom:5px
}
.tmpnl .trait{
  padding:8px 0 11px 35px;
  border-bottom:1px solid #999;
  border-right:1px solid #999;
  white-space:nowrap
}
.tmpnl .traitN{
  color:#666;
  font-size:small;
  font-weight:normal
}
.tmpnl .traitV{
  padding-right:10px
}
.tmpnl .freeApp{
  padding-top:7px;
  display:inline-block
}
#s_w_pipe{
  display:none;
  padding-left:6px;
  padding-right:6px
}
.tmpnl .statusLeftContent{
  float:left
}
.tmpnl .statusContent{
  text-align:right;
  display:block
}
div#msgPanel .msg span.statusContent a{
  font-weight:normal
}

.pnl{
  clear:both;
  color:#333;
  font-size:13px;
  font-weight:bold;
  text-align:left;
  font-family: Arial, serif
}
/*
.pnl .msg{
  border-right:2px solid #9d9d9d;
  border-bottom:1px solid #9d9d9d;
  background-color:#9ed4ef;
  margin-bottom:20px
}
*/
.pnl .green{
  background-color:#bbe7a1
}
.pnl .grey{
  background-color:#9d9d9d
}
.pnl .yellow{
  background-color:#fbe39e
}
.pnl .red{
  background-color:#ffc0ba
}
/*endregion*/
