/* You can override SASS variables here. Below example of simple dark theme. */

$body-background: #f9f9f9;
//$body-font-color: #e9ecef;

$color-link: #2A4B7C;
$color-visited-link: #2A4B7C;

//@import "plugins/dark";
