/* highlight via border */
.bomHighlightBorder {
  /*text-shadow: 2px -2px 3px #FF0000;*/
  border-color: #FF0000;
  border-width: 2px;
}

/*region ebay css */
#s_w_pipe {
  display: none;
  padding-left: 6px;
  padding-right: 6px;
}

.statusLeftContent {
  float: left;
}

.statusContent {
  /*text-align:right;*/
  display: block;
}

div#msgPanel .msg span.statusContent a {
  font-weight: normal;
}

.addSpace {
  display: none;
}

.pnl {
  clear: both;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-family: Arial, serif;
}

/*
.pnl .msg{
  border-right:2px solid #9d9d9d;
  border-bottom:1px solid #9d9d9d;
  background-color:#9ed4ef;
  margin-bottom:20px
}
*/
.pnl .green {
  background-color: #bbe7a1;
}

.pnl .grey {
  background-color: #9d9d9d;
}

.pnl .yellow {
  background-color: #fbe39e;
}

.pnl .red {
  background-color: #ffc0ba;
}

/*endregion*/

.hidden {
  display: none;
}
